/*cart styles */

.cartQuantity {
    position: absolute;
    right: 195px;
    top: 5px;
    color: chocolate;
    font-size: 1.1rem;
    padding: 4px;
    font-weight: 700;
    width: 35px;
    text-align: center;
    z-index: 1002;
}

.cartIcon {
    position: absolute;
    right: 180px;
    top: 0px;
    color: chocolate;
    font-size: 1.1rem;
    padding: 4px;
    font-weight: 700;
    width: 70px;
    text-align: center;
    z-index: 1001;
}

.parentCart {
    position: relative;
    right: -170px;
    top: -30px;
    z-index: 1001;
}

@media screen and (max-width: 884px){    
    .cartIcon {
        position: absolute;
        top: 0px;
        right: -420px;
        z-index: 1001;
        width: 70px;
        height: auto;
    }
    .cartQuantity {       
        right: -406px;
        top: 5px;
    }
}

@media screen and (max-width: 550px){    
    .cartIcon {
        position: absolute;
        top: 0px;
        right: -180px;
        z-index: 1001;
        width: 70px;
        height: auto;
    }
    .cartQuantity {       
        right: -166px;
        top: 5px;
    }
}
