.name {
    position: absolute;  
    right: 10px;
    top: 16px;
    color: blanchedalmond;
    z-index: 111;
    font-size: 1.2rem;
    font-weight: 500;
}
.name::first-letter {
    text-transform: capitalize;
}